.logo__sweet{
    cursor: pointer;
}
.header{
display: flex;
justify-content: space-between;
height: 4rem;
align-items: center;
position: sticky;
top:0;
background: white;
padding:0   1em;
box-shadow: 2px 2px 25px 0.4px rgba(0,0,0,0.2);
z-index: 111;

}
.search__container>input:focus + .search__container{
    background-color: #e9ebef;

}
.github__logo{
    text-decoration: none;
color:inherit;
}
.github__logo>.MuiSvgIcon-root{
    font-size: 20px !important;
}
.theme>.MuiSvgIcon-root{
    font-size: 20px !important;
}
.search__input{
    outline: none;
    height: 40px;
    width: 400px;
    margin-left:3px;
    border: none;
}
.flex{
    border: 1px   solid   rgba(27,31,36,.15);
border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex>a{
    display: flex;
    padding-left: 4px;
    align-items: center;
    justify-content: center;
    gap:2px;
}
.git_light{
    background-color: #e9ebef;

}
.git_dark{
    background-image:linear-gradient(
        180deg, #444c56, #3c444d 90%);
}
.flex>a>span{
    font-size: 12px !important;
    padding-right: 4px;
    border-right: 1px   solid   rgba(27,31,36,.15);
}
.star{
    padding: 0  2px;
    font-size: 12px !important;
}

.search__container{
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius:10px;
    padding: 2px    0;
    border:1px  solid  rgb(167, 151, 151);

}

.left__icons{
    display: flex;
    flex:0.2;
    align-items: center;
    justify-content: space-between;
}
.light{
    background-color: var(--light--color);
    transition: 0.5s ease-in-out;

}
.dark{
    background-color: var(--dark--color);
    transition: 0.5s ease-in-out;
    color: white;
}
.theme{
    cursor: pointer;
}



@media(max-width:850px) {
    .search__container{
        display: none;
    }
}
@media(max-width:400px){
    .header{
        justify-content: flex-start;
        padding: 0;
        gap:20px;
    }
}