.full__gradient{
    width: 100vw;
    height: 86.4vh;
    margin: 0;
    overflow-x: hidden;
    justify-content: center;
    padding-top: 20px;
    color:white;
    overflow-y:hidden;
    display: flex;
position: relative;
}

.gradient__header__flex{
    display: flex;
    padding-top:2px;
    align-items: center;
    justify-content: space-between;
}
.grad__name{
    flex:0.01;
    font-size: 17px !important;
    cursor: pointer;
    color: var(--text--common--color);
}
.gradient__header__flex>.MuiSvgIcon-root{
    font-size: 18px !important;
    cursor: pointer;
}
.right__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:0.1;
}

.right__icons>.MuiSvgIcon-root  {
 font-size: 30px    !important;   
 cursor: pointer;
padding: 0  6px;
 border-right:1px    solid   gray;
}
.grad__name{
    padding-left:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.code__block{
    background: #EEF2FF;
    width: 30vw;
    min-width: 600px;
    top:30%;
    left:33%;
    border-radius: 8px;
    padding: 20px   0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    gap:10px;
    position: absolute;
    height: 30vh;
    min-height: 300px;
    color: rgb(42, 42, 42);

}
.code__block>p{
    color:rgb(219, 121, 75);
}


.code__semiblock{
    word-wrap: normal;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:#FFEFEF;
    margin:20px 10px 0px   10px;
    color:#476da5;
    padding: 20px   0;
    max-width: 500px;
    min-height:90px;
    border-radius: 10px;

    
}
.code__semiblock::-webkit-scrollbar-track{
    width: 2px  !important;
    
}
.code__semiblock>p{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    word-wrap:initial;
  
}
/* .code__semiblock>p:last-child{
    margin:14px;

} */
.code__block>button{
    background-color: #148f77;
    padding:15px   !important;
    border: none;
    border-radius: 15px;
    color:white;
    cursor: pointer;
    margin-top:20px;

}
.code__block>button:hover{
    background-color: #1e4d43c4;
}
.code__semiblock>p>span{
    color: #e654c1!important;
}

.code__semiblock>p>p{
    color:#3d3d3d7c
}
@media(max-width:450px){
    .gradient__header__flex{
        justify-content:space-between;
        gap:0;

    }

    .right__icons{
        display: none;
    }
}
