:root{
    --dark--color:rgb(19, 34, 58);
    --light--color:#fff;
    --border--color:rgb(34, 34, 32);
    --text--common--color:rgba(73, 72, 72, 0.685);
        overflow-x: hidden;
}
::-webkit-scrollbar{
    width:4px;
}
::-webkit-scrollbar-thumb{
    background: blue;
    border-radius:3px;

}
::-webkit-scrollbar-thumb:hover{
background: rgb(20, 140, 156);
}

.light{
    background-color: var(--light--color);
    transition: 0.5s ease-in-out;

}
.dark{
    background-color: var(--dark--color);
    transition: 0.5s ease-in-out;

}