:root{
    --dark--color:#313131;
    --light--color:#fff;
    --border--color:rgb(34, 34, 32);
    --text--common--color:rgba(187, 177, 177, 0.685);
        overflow-x: hidden;
}
::-webkit-scrollbar{
    width:4px;
}
::-webkit-scrollbar-thumb{
    background: #6c7986;
    border-radius:3px;

}
::-webkit-scrollbar-thumb:hover{
background: #646c74;

}

.light{
    background-color: var(--light--color);
    transition: 0.5s ease-in-out;

}
.dark{
    background-color: var(--dark--color);
    transition: 0.5s ease-in-out;

}